/*
CDDL HEADER START
The contents of this file are subject to the terms of the Common Development and Distribution License, Version 1.0 only (the "License"). You may not use this file except in compliance with the License.

You can obtain a copy of the license at license/ESCIDOC.LICENSE or http://www.escidoc.de/license. 
See the License for the specific language governing permissions and limitations under the License.

When distributing Covered Code, include this CDDL HEADER in each file and include the License file at license/ESCIDOC.LICENSE. If applicable, add the following below this CDDL HEADER, with the fields enclosed by brackets "[]" replaced with your own identifying information: Portions Copyright [yyyy] [name of copyright owner]
CDDL HEADER END

Copyright 2006-2013 Fachinformationszentrum Karlsruhe Gesellschaft für wissenschaftlich-technische Information mbH and Max-Planck-Gesellschaft zur Förderung der Wissenschaft e.V.
All rights reserved. Use is subject to license terms.
*/
@charset "UTF-8";

/*
 * global definitions for html AND body
 */
html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

/* 
 * global definition for body and content of body
 * - declares all styles and behaviours of content, but no tags and elements 
 */
body {
/*	global font definitions */
	font-style:normal;
	text-decoration:none;
 	color:#000000;
 	clear: both;
}

/* 
 * global definitions for all !tags and elements! inside of body 
 */
body * {
	position:relative;
	margin:0;
	padding:0;
	background-position:left;
	background-repeat:no-repeat;
	border:none;
	border-width:0;
	list-style:none;
}
/*
 * global definitions for div container
 */
div {
	float:left;
}

a {
	cursor: pointer;
}
*[type="submit"] {
	cursor:pointer;
}
*[onclick] {
	cursor:pointer;
}
*[disabled] {
	cursor: default;
}
*:disabled {
	cursor: default;
}

*[contenteditable] {
	border:1px solid #000000;
	width: calc(100% - 2px);
	width: -moz-calc(100% - 2px) !important;
}
/*
 * global definitions for all breaking tags
 */
br {
	clear:both;
}

nav {
	display:inline;
	white-space:normal;
}
nav a {
	white-space: nowrap;
}
option {
	white-space: nowrap;
}

/*
 * global id declarations
 * because of richfaces/java syntax it's difficult to define a unique id for all solutions
 * so: the best way to define unique elements is to create pseudo-IDs with the prefix "id_" to the CSS class
 */
.eg3_id_wrapper {
	position:relative;
	min-height:100%;
	width:100%;
	z-index:0;
}
.eg3_id_wrapper div {
	overflow:hidden;
}
/*
 * standardization classes for floating
 */
.eg3_floatNone {
	float:none !important;
}
.eg3_floatRight {
	float:right !important;
}
.eg3_floatLeft {
	float:left !important;
}
.eg3_clearLeft {
	clear:left;
}
.eg3_clearRight {
	clear:right;
}
.eg3_clearBoth {
	clear:both;
}
.eg3_clearAll {
	float:none;
	clear:both;
}
.eg3_hidden {
	display:none !important;
}
.eg3_showBlock {
	display:block !important;
}
.eg3_containerCenter {
	float:none;
	margin:0 auto;
}

.eg3_textCenter {
	text-align:center;
}
.eg3_textLeft {
	text-align:left;
}
.eg3_textRight {
	text-align:right;
}
.eg3_overflow {
	overflow:visible !important;
}
.eg3_overflowAuto {
	overflow:auto !important;
}
.eg3_id_wrapper div.eg3_overflowAuto {
	overflow:auto;
}
.eg3_overflow_z20 {
	overflow:visible !important;
	z-index:20;
}
.eg3_overflow_z50 {
	overflow:visible !important;
	z-index:50;
}

.eg3_widthAuto {
	width:auto !important;
}

.eg3_noMarginLeft {
	margin-left:0 !important;
}
.eg3_noDecoration {
	text-decoration:none;
}
.eg3_noDecoration:hover {
	text-decoration:none;
}

.eg3_noWrap {
	white-space:nowrap !important;
}

/*
 * global grid-size definitions
 */
.eg3_container_1_20 {
	width:5%;
}

.eg3_container_1_16 { /* = 1/16 == 2/32 */
	width:6.25%;
}

.eg3_container_1_12 { /* = 1/12 */
	width:8.3333%;
}

.eg3_container_1_10 { /* = 1/10 */
	width:10%;
}

.eg3_container_1_9 { /* = 1/9 */
	width:11.1111%;
}

.eg3_container_1_8 {	/* = 1/8 == 4/32 */
	width:12.5%;
}

.eg3_container_1_7 {	/* = 1/7 */
	width:14.2857%;
}

.eg3_container_3_20 {
	width:15%;
}

.eg3_container_5_32 { /* = 5/32 */
	width:15.625%;
}

.eg3_container_1_6 { /* = 1/6 */
	width:16.6666%;
}

.eg3_container_3_16 { /* = 3/16 == 6/32 */
	width:18.75%;
}

.eg3_container_1_5 { /* = 1/5 */
	width:19.9%;
}

.eg3_container_1_4 { /* = 1/4 */
	width:25%;
}

.eg3_container_9_32 { /* = 9/32 */
	width:28.125%;
}

.eg3_container_3_10 { /* = 3/10 */
	width:30%;
}

.eg3_container_1_3 { /* = 1/3 */
	width:33.3333%;
}

.eg3_container_6_16 { /* = 6/16 == 12/32 */
	width:37.5%;
}

.eg3_container_2_5 { /* = 4/10 */
	width:39.85%;
}

.eg3_container_21_50 { /* = 21/50 */
	width:41.85%;
}

.eg3_container_1_2 { /* = 1/2 */
	width:49.85%;
}

.eg3_container_9_16 { /* = 9/16 */
	width:56.25%
}

.eg3_container_3_5 { /* = 3/5 */
	width:59.85%;
}

.eg3_container_2_3 { /* = 2/3 */
	width:66.6666%;
}

.eg3_container_3_4 { /* = 3/4 */
	width:74.82%;
}

.eg3_container_4_5 { /* = 4/5 */
	width:79.8%;
}

.eg3_container_9_10 { /* = 9/10 */
	width:89.7%;
}

.eg3_container_1 { /* = 1 */
	width:100%;
}


/* CSS3 ENHANCEMENTS */

.eg3_borderradius_5 { /* used by simpleSerch input-tag and submit-button */
	border-radius:0.4166667em;
	-webkit-border-radius:0.4166667em;
	-moz-border-radius:0.4166667em;
	-ms-border-radius:0.4166667em;
	-o-border-radius:0.4166667em;
}
.eg3_borderradius_5_bottom { /* in use for tab menu overlay */
	border-bottom-left-radius: 0.4166667em;
	border-bottom-right-radius: 0.4166667em;
	-webkit-border-bottom-left-radius: 0.4166667em;
	-webkit-border-bottom-right-radius: 0.4166667em;
	-moz-border-bottom-left-radius: 0.4166667em;
	-moz-border-bottom-right-radius: 0.4166667em;
	-o-border-bottom-left-radius: 0.4166667em;
	-o-border-bottom-right-radius: 0.4166667em;
	-ms-border-bottom-left-radius: 0.4166667em;
	-ms-border-bottom-right-radius: 0.4166667em;
}
.eg3_borderradius_5_top { /* in use for tab menu */
	border-top-left-radius: 0.4166667em;
	border-top-right-radius: 0.4166667em;
	-webkit-border-top-left-radius: 0.4166667em;
	-webkit-border-top-right-radius: 0.4166667em;
	-moz-border-top-left-radius: 0.4166667em;
	-moz-border-top-right-radius: 0.4166667em;
	-o-border-top-left-radius: 0.4166667em;
	-o-border-top-right-radius: 0.4166667em;
	-ms-border-top-left-radius: 0.4166667em;
	-ms-border-top-right-radius: 0.4166667em;
}
/* not in use a.t.m.

.eg3_borderradius_5_right {
	border-bottom-right-radius: 0.4166667em;
	border-top-right-radius: 0.4166667em;
	-webkit-border-bottom-right-radius: 0.4166667em;
	-webkit-border-top-right-radius: 0.4166667em;
	-moz-border-bottom-right-radius: 0.4166667em;
	-moz-border-top-right-radius: 0.4166667em;
	-o-border-bottom-right-radius: 0.4166667em;
	-o-border-top-right-radius: 0.4166667em;
	-ms-border-bottom-right-radius: 0.4166667em;
	-ms-border-top-right-radius: 0.4166667em;
}
.eg3_borderradius_5_left {
	border-bottom-left-radius: 0.4166667em;
	border-top-left-radius: 0.4166667em;
	-webkit-border-bottom-left-radius: 0.4166667em;
	-webkit-border-top-left-radius: 0.4166667em;
	-moz-border-bottom-left-radius: 0.4166667em;
	-moz-border-top-left-radius: 0.4166667em;
	-o-border-bottom-left-radius: 0.4166667em;
	-o-border-top-left-radius: 0.4166667em;
	-ms-border-bottom-left-radius: 0.4166667em;
	-ms-border-top-left-radius: 0.4166667em;
}
*/
