@CHARSET "ISO-8859-1";

.background_2 {
    background-color: #FFCCFF;
	opacity:0.5;
	-moz-opacity: 0.5;

}
.color_6 {
    color: #222222;
}

.closeThumb
{
	visibility:hidden;
}
.hideThumb
{
	display:none;
}