@charset "utf-8";
/* CSS Document */

body
{
	background-color:#FAFAFA;
	margin:0;
	padding:0;
	font-size:1em;
}

#header
{
	height:100px;
	margin:0 auto;
	background:#E9E9E9;
	border-bottom-color:#747474;
	border-bottom-width:medium;
	border-bottom-style:solid;!important;
}
#footer 
{
	height:60px;
	margin:0 auto;
}

#divall {
	margin-top:500px;
	width:1340px;
	height:790px;
	margin:0 auto;
}

#sider_a 
{
	float:left;
	width:320px;
	height:790px;
}
#colleft
{
	float:left;
	width:300px;
	height:790px;

}

#colright
{	
	display:none;
	float:right;
	width:100px;
	height:790px;

}
#showPanel
{
	float:right;
	width:20px; 
	height:790px; 
	cursor:pointer;

}
#showPanel span
{display:block; font-size:24px; height:30px; width:20px; background: #333;}

#sider_b 
{
	float:left;
	width:1020px;
	height:790px;

}















