@charset "UTF-8";

.id_wrapper {
	width:100%;
	padding:0;
}

.id_header{
	width:96%;
	padding:0 2%;
	background-color: #F5F5F5;
}

.id_mainMenu{
	width:96%;
	padding:0 2%;
	background-color: #CCCCCC;
}

.id_content {
	width:96%;
	padding:0 2%;
}

.id_contentDescription {
	width:96%;
	padding:0 2%;
}
.id_footer {
	width:96%;
	padding:0 2%;
}
.mainMenu li
{
	padding:5px;
}

.id_siteTitle{
	float:right;
	font-size: 300%;
}

input{
	border: solid 1px;
}

.searchHit {
    background-color: #A1CBDA;
}
