@charset "UTF-8";

/*****************************************************************************************************************
 * 							declarations for IE7
 */
*:first-child+html input {
	border: solid 0.08333em #B2B2B2;
	padding:0 0.1666em;
}
*:first-child+html input[type="button"] {
	border:none !important;
}
*:first-child+html input[type="submit"] {
	border:none !important;
}
*:first-child+html input[type="radio"] {
	border:none !important;
}
*:first-child+html input[type="checkbox"] {
	border:none !important;
}
*:first-child+html .standardHeader .id_siteSearchMenu input[type="radio"] {
	margin-top:-0.16666em;
	margin-left:-0.25em;
}
*:first-child+html .standardHeader .id_siteSearchMenu input[type="checkbox"] {
	margin-top:-0.16666em;
	margin-left:-0.25em;
}
*:first-child+html .optionBox .optionBoxLabel {
	margin:0 0 1em 0;
}
*:first-child+html .optionBox li {
	clear:left;
}
*:first-child+html .optionBox li a{
	margin:0 0 0.75% 0;
}


/*main menu */
*:first-child+html .menuBox {
	padding-bottom: 2em;
}
*:first-child+html label.menuLevel1Menu {
	float:none;
	clear:both;
	display: block;
}
*:first-child+html label.menuLevel1Label {
	float:none;
	clear:both;
	display: block;
}
*:first-child+html .menuLevel2 {
	float:none;
	clear:both;
	left:0;
	width:95%;
}
*:first-child+html .menuLevel3 {
	width:95%;
}
*:first-child+html .menuLevel3 li {
	padding:0;
	margin:0;
	height:120%;
	padding-left:0.5em;
}


/*****************************************************************************************************************
 * 							declarations for all other browser
 */

/***              ***
 * font size base = 12px
 * 1em = 12px -> line-height / row-height: 1.66666667em;
 */
body {
	font-size:75%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#555555;
	z-index:0;
}

a {
	color:#000000;
	text-decoration: none;
}
a:hover {
	color:#00AA11;
}
a:active {
	color:#00AA11;
}
a[disabled] {
	color:#999999;
}
*[disabled] {
	color:#999999;
}
*[onclick] {
	color:#000000;
	text-decoration: none;
}
*[onclick]:hover {
	color:#00AA11;
}
*[onclick]:active {
	color:#00AA11;
}

h1 {
	font-weight:normal;
}
h2 {
	font-weight:normal;
}
h3 {
	font-weight:normal;
}
h4 {
	font-weight:normal;
}
h5 {
	font-weight:normal;
}
h6 {
	font-weight:normal;
}

input[type="search"] {
	border: solid 0.08333em #B2B2B2;
	padding:0 0.1666em;
}
input[type="text"] {
	border: solid 0.08333em #B2B2B2;
	padding:0 0.1666em;
}
input[type="number"] {
	border: solid 0.09em #B2B2B2;	/* because of webkit engine, the border must be up-rounded for 1px */
	padding:0 0.1666em;
}
select {
	padding:0;
	border: solid 0.08333em #B2B2B2;
}
button:disabled {
	color:#AAAAAA;
}
/***              ***
 * global id-class and class declarations
 */
.id_wrapper {
	min-width:75em; /* 900px */
	width:96%;		/* the result of width + padding = sum of width = 100% */
	padding:0 2%;
	background-color:#FFFFFF;
}
.id_header {
	width:100%;
}
.id_headerMetaMenu {
	width:100%;
}
.id_mainMenu {
	width:100%;
	overflow: visible !important;
	z-index:12;
}
.id_mainMenu * {
	overflow: visible !important;
}
.id_optionBox { /* options for the current page content, e.g. Order by, Filter by, Download, Export, ... */
	width:100%;
	padding:0 0 0 0.83333%;
}
.id_optionBox.vertikal { /* conditions for vertical option menu */
	padding:0 0 0 0.16666%;
}
.id_contentDescription {
	width:100%;
}
.id_siteTitle {
	float:right;
	padding:0 1.6%;
	font-size:150%;
	background-color:#EEF2F0;
}
.id_sidebarLeft {
	width:24.75%;
}
.overflow {
	overflow:visible !important;
	z-index:20;
}

.separator {
	width:0.08333em;
	height:1.3333em;
	background-color:#7F7F7F;
}


.fiveRows {  /* 1row = 0,166666667em */
	height:6em;
}
/* not necessary at the moment
.sixRows {
	height:7.08333em;
}
.fiftyRows {
	height:58.3333em;
}
*/



/*****************************************************************************************************************
 * 							declarations for components
 */


/*****************************************************************************************************************
 ******************************				dynamic selectbox with JS functions		******************************
 ******************************					with no maximum width				******************************
 *****************************************************************************************************************/
.dynamicSelectBox_js {
	height:1.6666em;
	padding:0;
	font-size:95%;
	background-image:url('image/_default_16_16.png'); 
	background-position:right top;
	text-align: left;
}
.dynamicSelectBox_js * {
	cursor: pointer;
}
.dynamicSelectBox_js *[disabled] {
	cursor: default;
}
.dynamicSelectBox_js .selectionContent {
	margin-right:1.6666em;
	padding:0 0.6666em 0.16666em 0.6666em;
	font-size: 97%;
	height: 1.16666em;
	border: solid 0.09em #B2B2B2;	/* because of webkit engine, the border must be up-rounded for 1px */
}
.dynamicSelectBox_js .selectionText {
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-align: left;
}
.dynamicSelectBox_js select {
	float:left;
	clear:left;
	margin-top:-1.5em;
	
	/* set the selectbox invisible to show the selectionContent container */
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0); /* for IE 7 & IE 8 necessary */
}






/*********************************************************************************************************************************
 ******************************				.standardHeader											******************************
 ******************************		includes solutionLogo, metaMenu, simple Search, headerNav		****************************** 
 *********************************************************************************************************************************/
.standardHeader {
	width:100%;
}

/*********************************************************************************************************
 ******************************				.standardHeader .id_headerMetaMenu .metaMenu		******************************
 *********************************************************************************************************/
.id_headerMetaMenu .metaMenu {
	float:right;
}
.id_headerMetaMenu .metaMenu * {
	float:left;
}
.id_headerMetaMenu .metaMenu a {
	padding:0.08333em 2em 0.3333em 2em;
}
.id_headerMetaMenu .metaMenu nav {
	padding:0;
}
.id_headerMetaMenu .metaMenu select {
	padding:0;
}
.id_headerMetaMenu .metaMenu option {
	float:none;
}
.metaMenu a:hover {
	color:#00AA11;
}
.metaMenu .separator {
	padding:0;
}
.metaMenu .userDetail {
	font-style:italic;
	font-size:75%;
	padding: 0.16666em 1.91666em 0.3333em 1.91666em;
}
.metaMenu .dynamicSelectBox_js {
	padding:0;
	background-position:right top;
}
.metaMenu .dynamicSelectBox_js * {
	padding:0;
}
.metaMenu .dynamicSelectBox_js .selectionContent {
	padding:0.0833333em 0.6666em 0 0.6666em;
}
/*************************************************************************************************************
 ******************************				.standardHeader .solutionLogo		******************************
 *************************************************************************************************************/
.standardHeader .solutionLogo {
	float: left;
	margin-left:1em;
	margin-top: 1em;
	margin-bottom: 2em;
}


/*****************************************************************************************************************
 ******************************				.standardHeader .id_siteSearchMenu		******************************
 *****************************************************************************************************************/
.standardHeader .id_siteSearchMenu {
	float: right;
	margin-top:2%;
	text-align:right;
}
.id_siteSearchMenu .icon_quickSearch_16_16 {
	background-image: url("image/_default_32_32.png");
	width:2.66666em;
	height:2.66666em;
	margin-right: 0.5em;
}
.simpleSearch label {
	float: left; 
	margin:0 1.3333em 0 0.5em; 
}
.simpleSearch input {
	float: left;
}
.simpleSearch input[type="radio"] {
	margin: 0.16666em 0 0 0;
}
.simpleSearch input[type="submit"] {
	margin-left:0.75em;
	padding:0 0.25em;
}

/*********************************************************************************************************
 ******************************				.standardHeader .headerNav		******************************
 *********************************************************************************************************/
.standardHeader .headerNav {
	float:right;
	margin-top: 2.083333%;
	text-align: right;
}
.standardHeader .headerNav a.navEntry {
	float:none;
	margin-left: 1.3333em;
	word-break: keep-all; /* for chinese, korean, and other asian languages - no line breaking */
	white-space:nowrap;
}


/*************************************************************************************************************
 ******************************				.id_mainMenu						******************************
 ******************************		includes mainMenu with 3 level		 		****************************** 
 *************************************************************************************************************/
.mainMenu {
	width:100%;
	margin-bottom: 2em;
	padding-left:1.6%;
}
.menuBox * {
	cursor:pointer;
}
.menuBox *[disabled] {
	cursor:default;
}
.menuBox .menuLevel1 {
	float:left;
	position: relative;
	text-align: center;
	padding:0 0.5em;
	color:#CCCCCC;
	background-color:#555555;
}
.menuLevel1Label {
	color:#00FFFF;
	font-size: 150%;
	color:#00FFFF;
}
.menuLevel1Label * {
	color:#00FFFF;
}
.menuLevel1Menu {
	background-image: url("image/_default_16_16.png");
	background-position: right;
	padding-right:1.5em;
	font-size: 150%;
}
.menuBox .menuLevel2 {
	display:none;
	float:left;
	overflow: visible;
	text-align: left;
}
.menuBox .menuLevel1:hover .menuLevel2 {
	display:block;
	position: absolute;
	background-color: #777777;
}
.menuLevel2 li {
	background-color: #777777;
}

.menuLevel2Label {
	padding-left:0.5em;
	color:#222222;
}
.menuBox .menuLevel2Entry {
	height:2em; 
	line-height:2em;
	width:100%;
	padding-right:1.5em;
}
.menuBox .menuLevel2EntryMenu {
	height:2em; 
	line-height:2em;
	width:100%;
	background-image: url("image/_default_16_16.png");
	background-position: right;
	padding-right:1.5em;
}
.menuBox .menuLevel2Entry:hover {
	background-color: #999999;
}
.menuBox .menuLevel2EntryMenu:hover {
	background-color: #999999;
}
.menuBox .menuLevel2Entry:hover .menuLevel3 {
	display: block;
	position: absolute;
	top:0;
	left:99.8%;
	height:2em; line-height:2em;
}
.menuBox .menuLevel2EntryMenu:hover .menuLevel3 {
	display: block;
	position: absolute;
	top:0;
	left:99.8%;
	height:2em; line-height:2em;
}

.menuBox .menuLevel3 {
	float:left;
	display: none;
	color:#000000;
}
.menuBox .menuLevel3 li {
	background-color: #CCCCCC;
	padding-left:0.5em;
	padding-right:0.5em;
	white-space:nowrap;
}
.menuBox .menuLevel3 li:hover {
	background-color: #00FFFF;
}



/*************************************************************************************************************************
 ******************************				id_optionBox									******************************
 ******************************			includes: options & actions for current context		******************************
 *************************************************************************************************************************/
.id_optionBox.vertikal .optionBox { /* conditions for optionBox in vertical option menu */
	clear:both;
	float:none;
	margin-top:1em;
}
.id_optionBox.vertikal .optionBox+.optionBox { /* conditions for optionBox in vertical option menu */
	clear:both;
	float:none;
	margin-left:0;
}
.id_optionBox.vertikal menu menu { /* conditions for sub-menu in vertical option menu */
	padding:0 0 0 0.16666%;
}
.optionBox {
	padding:0;
	margin:0 0 1.5em 1.6%;
}
.optionBox .optionBoxLabel {
	display: block;
	margin-bottom:1em;
	padding:0 1.3333em;
}
.optionBox menu menu {
	padding:0 1.3333em;
}
.optionBox:first-child {
	display:block;
	margin-left:0%;
}
.optionBox label {
	display:block;
}

.optionBox li a {
	float:left;
	clear:left;
	display:block;
	margin-bottom:0.5em;
}
.optionBox a+a {
	clear:none;
	margin-left:1.3333em;
}
.optionBox .dynamicSelectBox_js {
	display:block;
	float:none;
	margin-bottom:1em;
}
.optionBox select option[selected] {
	color:#00AA11;
}
.optionBox .active {
	color:#00AA11;
}



/*************************************************************************************************************
 ******************************				MessageArea							******************************
 ******************************			for: error, warning, success, info		******************************
 *************************************************************************************************************/
.messageArea {
	width:46.7%;
	padding:1% 1.6%;
}
.messageArea span {
	display:block;
}
.messageError {
	color:#FF0000;
}
.messageWarning {
	color:#FF6666;
}
.messageSuccess {
	color:#00AA11;
}
.messageInfo {
	color:#555555;
	font-style:italic;
}
/*************************************************************************************************************
 ******************************				breadcrump & siteTitle				******************************
 ******************************													******************************
 *************************************************************************************************************/
.breadTitle {
    /* (class which includes the breadcrump and siteTitle) */
    width:46.7%;
    padding:0.9% 1.6% 1% 1.6%;
    text-align:right;
}
.breadcrump {
	line-height:150%;
}


/*****************************************************************************************************************************
 ******************************				PAGINATOR											******************************
 ******************************		includes paginatorWave										****************************** 
 *****************************************************************************************************************************/
.paginatorWave {
	width: 100%;
	margin:0 0 0.2% 0;
}
.paginatorWave * {
	text-align: center;
}
.paginatorWave .iconActionLabel {
	margin-left:0.5em;
	margin-right:0.5em;
	cursor: pointer;
}
.paginatorWave .rangeSelector {
	width:14.38%;
	padding:0.75em 0 0 1.6%;
}
.paginatorWave .rangeSelector .dynamicSelectBox_js {
	margin:0.08333em 0 0;
}
.paginatorWave .rangeSelector .selectionText {
	float:left;
}
.paginatorWave .rangeSelector .selectLabel {
	float:left;
	margin-top:0.25em;
	margin-left:0.91666em;
}
.paginatorWave .rangeSelector select {
	width:3.5em;
}
.paginatorWave .pageBrowser {
	width:66.6%
}
.paginatorWave .pageBrowser * {
	cursor: pointer;
}
.paginatorWave .pageBrowser *:disabled {
	cursor: default;
}
.paginatorWave .icon_skipTofirst_16_16 {
	background-image: url("image/_default_16_16.png");
	background-position: right;
	text-align:left;
	padding:0.0833em 1.3333em 0.0833em 0;
	margin-right:0.166667em;
}
.icon_skipTofirst_16_16:hover .iconActionLabel {
	color:#00AA11;
}
.paginatorWave .icon_backward_16_16 {
	background-image: url("image/_default_16_16.png");
	background-position: right;
	padding:0.0833em 1.3333em 0.0833em 0;
	margin-right:0.166667em;
}
.paginatorWave .icon_forward_16_16 {
	background-image: url("image/_default_16_16.png");
	padding:0.0833em 0 0.0833em 1.3333em;
	margin-left:0.166667em;
}
.paginatorWave .icon_skipTolast_16_16 {
	background-image: url("image/_default_16_16.png");
	text-align:left;
	padding:0.0833em 0 0.0833em 1.3333em;
	margin-left:0.166667em;
}
.icon_skipTolast_16_16:hover .iconActionLabel {
	color:#00AA11;
}
.paginatorWave .pageNumber {
	margin:0 0.1666667em;
}
.paginatorWave .pageNumber.active {
	font-size: 200%;
}
.paginatorWave .pageNumber.prev {
	font-size: 150%;
}
.paginatorWave .pageNumber.next {
	font-size: 150%;
}
.paginatorWave .pageNumber.neighbour {
	font-size: 125%;
}
.paginatorWave .gotoBox {
	width:16.6%;
	padding:0.83333em 0 0 0;
}
.paginatorWave .gotoInput {
	width:23%;
	padding:0 0.2%;
}
.paginatorWave .inputLabel {
	margin-left:0.16666em;
}


/* for smallest pageBrowser */
.paginatorWave .pageBrowserMin {
	width:66.6%;
}
.paginatorWave .pageBrowserMin * {
	cursor: pointer;
}
.paginatorWave .pageBrowserMin *:disabled {
	cursor: default;
}
.pageBrowserMin .icon_backward_16_16 {
	margin-right:1em;
}
.pageBrowserMin .icon_forward_16_16 {
	margin-left:1em;
}

/*****************************************************************************************************
 ******************************				bibliographic list			******************************
 ******************************		list with different 		****************************** 
 *****************************************************************************************************/
.bibList {
	width:99.8%;
/*	background-color:#EEF2F0; */
/*	background-color:#33F2F0; */
	border:solid 0.09em #B2B2B2; /* because of webkit-engine, the border-value must be up-rounded */
}
.bibList .iconActionLabel {
	margin-left:0.8333em;
	margin-right:0.8333em;
	cursor: pointer;
}

.bibList .icon_collapse_16_16 {
	height:1.3333em;
	padding-top:0.2%;
	padding-left:1.3333em;
	background-image: url("image/_default_16_16.png");
	cursor: pointer;
}
.bibList .icon_collapse_16_16:hover {
	background-image: url("image/_default_32_32.png");
}
.bibList .icon_collapse_16_16:hover .iconActionLabel {
	color:#00AA11;
}

.bibList .icon_expand_16_16 {
	height:1.3333em;
	padding-top:0.2%;
	padding-left:1.3333em;
	background-image: url("image/_default_16_16.png");
	cursor: pointer;
}
.bibList .icon_expand_16_16:hover {
	background-image: url("image/_default_32_32.png");
}
.bibList .icon_expand_16_16:hover .iconActionLabel {
	color:#00AA11;
}

.bibList .icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
/*****************************************************************************************************
 ******************************				.bibList .listHeader		******************************
 *****************************************************************************************************/
.bibList .listHeader {
	width:100%;
/*	border: solid 0.08333em #B2B2B2; */
	height:2.08333em;
}
.bibList .listHeader .selectArea {
	width:22.95%;
	padding:0.3% 1% 0 1%;
	height:100%;
}
.bibList .listHeader .content {
	width:47.47%;
	padding:0.3% 1.2% 0 1.2%;
	height:100%;
}
.bibList .listHeader .showHideAll_js {
	cursor:pointer;
}

.bibList .listHeader .mediabarActionArea {
/*	width:23.95%; */
	width:25%;
	padding-left:0.1%;
	padding-top:0.3%;
/*	padding:0.3% 0.58333% 0 0.58333%; */
	background-color:#EEEEEE;
	height:100%;
}
.bibList .listHeader .toggleListItemVolume_js {
	cursor:pointer;
	margin-left:0.8333em;
}
/*********************************************************************************************************
 ******************************				.bibList .listBody				******************************
 ******************************			global definitions for bibList		******************************
 *********************************************************************************************************/
.bibList .listBody {
	width:100%;
}
.bibList .itemHeadline .itemTitle {
	max-width: 50em;
	font-size:133%;
	line-height: 125%;
}
.bibList .itemHeadline .itemMultiTitle {
	max-width: 50em;
	font-size: 166%;
	line-height: 125%;
}
.bibList .shortView_js {
	width:100%;
	margin-top:0.41666em;
}
.bibList .mediumView_js {
	width:100%;
	display:none;
	margin-top:0.41666em;
}

.bibList .itemMediabar .itemMediabarCategory {
	padding-left:1.8333em;
	background-image: url("image/_default_16_16.png");
	margin-bottom:0.25em;
}
/*****************************************************************************************************************
 ******************************				.bibList .listBody .listItem			******************************
 *****************************************************************************************************************/
.bibList .listItem {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
}
.bibList .listItem:hover .itemContent {
	background-color:#EEF2F0;
}

.bibList .listItem .itemContent {
	width:100%;
	padding-bottom:0.5em;
	background-color:#FFFFFF;
}
.bibList .listItem .itemSelectArea {
	width:22.58%;
	text-align:right;
	padding:1% 1.2% 0 1.2%;
}
.bibList .listItem .itemHeadline {
	width:72.4%;
	padding:0.1666em 1.2% 0.1666em 1.2%; 
}
.bibList .listItem .itemStatusArea {
	width:22.88%;
	text-align:right;
	padding:0 1% 0 1%;
}
.bibList .listItem .itemStatusArea * {
	float: right;
}
.bibList .listItem .itemStatusArea .itemStatusTitle {
	margin-top:2.5%;
	margin-right:5%;
}
.bibList .listItem .itemContentOptions {
	width:72.4%;
	padding:0 1.3%;
}
.bibList .listItem .itemDetailAction_js {
	margin-top:0.75%; 
}
.bibList .listItem .itemMetaLabel {
	width:22.8%;
	text-align:right;
	padding:0 1% 0 1%;
}
.bibList .listItem .itemMetaValue {
	width:72.4%;
	padding:0 1.3% 0 1.3%; 
}

/*************************************************************************************************************************
 ******************************				.bibList .listBody .listItemMediaAcc			******************************
 *************************************************************************************************************************/
.bibList .listItemMediaAcc {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
	background-color:#EEF2F0;
}
.bibList .listItemMediaAcc:hover {
	background-color:#EEEEEE;
}
.bibList .listItemMediaAcc:hover .itemContentBg {
	background-color:transparent;
}
.bibList .listItemMediaAcc:hover * .itemMediabar_js {
	background-color:transparent;
}
.bibList .listItemMediaAcc .itemContent {
	width:74.88%;
	padding-bottom:0.5em;
}
.bibList .listItemMediaAcc .itemContentBg {
	position:absolute;
	width:74.88%;
	height:100%;
	background-color:#FFFFFF;
}
.bibList .listItemMediaAcc .itemSelectArea {
	width:30.08%;
	text-align:right;
	padding:1% 1.6% 0 1.6%;
}
.bibList .listItemMediaAcc .itemHeadline {
	width:63.41%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.bibList .listItemMediaAcc .itemStatusArea {
	width:30.08%;
	text-align:right;
	padding:0 1.6%;
}
.bibList .listItemMediaAcc .itemStatusArea * {
	float: right;
}
.bibList .listItemMediaAcc .itemStatusArea .icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.bibList .listItemMediaAcc .itemStatusArea .itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.bibList .listItemMediaAcc .itemContentOptions {
	width:63.41%;
	padding:0 1.6%;
}
.bibList .listItemMediaAcc .itemDetailAction_js {
	margin-top:1.25%; 
}
.bibList .listItemMediaAcc .itemMetaLabel {
	width:30.08%;
	text-align:right;
	padding:0 1.6%;
}
.bibList .listItemMediaAcc .itemMetaValue {
	width:63.41%;
	padding:0 1.6% 0 1.6%; 
}

/*****************************************************************************************************************************************
 ******************************				.bibList .listBody .listItemMediaAcc .itemMediabar_js			******************************
 *****************************************************************************************************************************************/
.bibList .listItemMediaAcc .itemMediabar_js {
	width:25%;
}
.bibList .listItemMediaAcc .itemMediabar_js div {
	width:100%;
	padding-left:2.66666em;
	padding-bottom:0.08333em;
}
.bibList .listItemMediaAcc .itemMediabar_js span.ui-accordion-header  {
	float:left;
	width:100%;
	margin-left:0.1%;
	padding-left:0.8333em;
	padding-top:0.1666em;
	padding-bottom: 0.16666em;
	cursor:pointer;
	background-color:#B8B8B8;
/* start css3 enhancements */
	/* Background-Gradient */
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffff',EndColorStr='#aaddff'); 
	background:
		linear-gradient(top, #fff, #B8B8B8);
	background: 
		-ms-linear-gradient(top, #fff, #B8B8B8);
	background:
		-moz-linear-gradient(left, #EEF2F0, #CCCCCC);
	background:
		-webkit-gradient(linear, left top, left bottom, from(#fff), to(#adf)); 
	background:
		-webkit-linear-gradient(top, #fff, #B8B8B8);
	background:
		-o-linear-gradient(top, #fff, #B8B8B8);
/* stop css3 enhancements */
}
.bibList .listItemMediaAcc .itemMediabar_js span.ui-icon {
	float: left;
	background: url("image/_default_16_16.png") no-repeat 0 0.1666em;
	background-position:left top;
	display: block;
    width: 1.25em;
    height: 1.25em;
    margin-right:0.8333em;
}




/*********************************************************************************************************************************
 ******************************				.bibList .listBody .listItemMultiVolume	COLORIZING		******************************
 ******************************					multiVolumeBG == multi volume background			******************************
 *********************************************************************************************************************************/
.multiVolumeBG_1 {
	background-color:#00AA11;
}
/* .multiVolumeBG_1:hover {
	background-color:#006FF0;
} */
.multiVolumeBG_2 {
	background-color:#CCAA11;
}
/* .multiVolumeBG_2:hover {
	background-color:#CC6FF0;
}*/ 
.multiVolumeBG_3 {
	background-color:#99FF99;
}
.multiVolumeBG_4 {
	background-color:#DD003C;
}









/*************************************************************************************************************************
 ******************************				.bibList .listBody .listItemMultiVolume			******************************
 *************************************************************************************************************************/
.bibList .listItemMultiVolume {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
}
.bibList .listItemMultiVolume:hover .itemContent {
	background-color:#EEF2F0;
}
.bibList .listItemMultiVolume:hover .itemContentBg {
	background-color:transparent;
}
.bibList .listItemMultiVolume:hover .itemMediabar {
	background-color:transparent;
}
.bibList .listItemMultiVolume .itemContent {
	width:99%;
	background-color:#EEF2F0;
}
.bibList .listItemMultiVolume .itemContentBg {
	position:absolute;
	width:75.5%;
	height:100%;
	background-color:#FFFFFF;
}
.bibList .listItemMultiVolume .itemContentData {
	width:75.5%;
	padding-top:0.75em;
	padding-bottom:0.5em;
}

.bibList .listItemMultiVolume .itemStatusArea {
	width:31%;
	text-align:right;
	padding:0.5em 1.2% 0 1.2%;
}
.bibList .listItemMultiVolume .itemStatusArea * {
	float: right;
}
.bibList .listItemMultiVolume .itemStatusArea .icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.bibList .listItemMultiVolume .itemStatusArea .itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.bibList .listItemMultiVolume .itemHeadline {
	width:63.1%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.bibList .listItemMultiVolume .itemMetaLabel {
	width:31%;
	text-align:right;
	padding:0 1.2%;
}
.bibList .listItemMultiVolume .itemMetaValue {
	width:63.1%;
	padding:0 1.6% 0.1666em 1.6%; 
}

/*****************************************************************************************************************************************
 ******************************				.bibList .listBody .listItemMultiVolume .itemMediabar			******************************
 *****************************************************************************************************************************************/
.bibList .listItemMultiVolume .itemMediabar {
	padding-top:0.75em;
	padding-left:0.8333em;
	width:22%;
	background-color:#EEF2F0;
}
.bibList .listItemMultiVolume .itemMediabar div {
	width:100%;
	padding-bottom:0.08333em;
}
.bibList .listItemMultiVolume .itemMediabar .itemContentOptions {
	margin-bottom:1em;
}



/*************************************************************************************************************************
 ******************************				.bibList .listBody .listItemVolume			******************************
 *************************************************************************************************************************/
.bibList .listItemVolume {
	width:100%;
	padding-top:0.3333em;
	padding-bottom:0.16666em;
	display:none;
}

.bibList .listItemVolume+.listItemVolume {
	padding-top:0.16666em;
}
.bibList .listItemVolume:hover .itemContent {
	background-color:#EEF2F0;
}
.bibList .listItemVolume:hover .itemContentData {
	background-color:transparent;
}
.bibList .listItemVolume:hover .itemMediabar {
	background-color:transparent;
}
.bibList .listItemVolume .itemContent {
	width:99%;
	background-color:#EEF2F0;
}
.bibList .listItemVolume .itemContentBg {
	position:absolute; 
	width:75.5%;
	height:100%; 
	background-color:#FFFFFF;
}
.bibList .listItemVolume .itemContentData {
	width:75.5%;
	padding-top:0.75em;
	padding-bottom:0.5em;
	background-color:#FFFFFF;
}

.bibList .listItemVolume .itemStatusArea {
	width:31%;
	text-align:right;
	padding:0.5em 1.2% 0 1.2%;
}
.bibList .listItemVolume .itemStatusArea * {
	float: right;
}
.bibList .listItemVolume .itemStatusArea .icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.bibList .listItemVolume .itemStatusArea .itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.bibList .listItemVolume .itemHeadline {
	width:63.1%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.bibList .listItemVolume .itemMetaLabel {
	width:31%;
	text-align:right;
	padding:0 1.2%;
}
.bibList .listItemVolume .itemMetaValue {
	width:63.1%;
	padding:0 1.6% 0.1666em 1.6%; 
}

/******************************		.bibList .listBody .listItemVolume .itemMediabar	******************************/
.bibList .listItemVolume .itemMediabar {
	padding-top:1.25em;
	padding-bottom:0.5em; 
}
.bibList .listItemVolume .itemMediabarThumb {
	margin-bottom:0.5em;
	margin-left:0.8333em;
}
.bibList .listItemVolume .itemMediabarCategory {
	margin-left:0.8333em;
	width:100%;
}


/*****************************************************************************************************************************
 ******************************				.bibList .listBody .listItemSingleVolume			******************************
 *****************************************************************************************************************************/
.bibList .listItemSingleVolume {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
	background-color:#EEF2F0;
}
.bibList .listItemSingleVolume:hover {
	background-color:#EEF2F0;
}
.bibList .listItemSingleVolume:hover .itemContent {
	background-color:transparent;
}
.bibList .listItemSingleVolume:hover .itemMediabar {
	background-color:transparent;
}
.bibList .listItemSingleVolume:hover .itemContentBg {
	background-color:transparent;
}

.bibList .listItemSingleVolume .itemContent {
	padding-top:0.75em;
	padding-bottom:0.5em;
	width:74.82%;
}
.bibList .listItemSingleVolume .itemContentBg {
	position:absolute; 
	height:100%; 
	width:74.82%;
	background-color:#FFFFFF;
}
.bibList .listItemSingleVolume .itemHeadline {
	width:63.41%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.bibList .listItemSingleVolume .itemStatusArea {
	width:30.08%;
	text-align:right;
	padding:0.5em 1.6% 0 1.6%;
}
.bibList .listItemSingleVolume .itemStatusArea * {
	float: right;
}
.bibList .listItemSingleVolume .itemStatusArea .icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.bibList .listItemSingleVolume .itemStatusArea .itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.bibList .listItemSingleVolume .itemMetaLabel {
	width:30.08%;
	text-align:right;
	padding:0 1.6%;
}
.bibList .listItemSingleVolume .itemMetaValue {
	width:63.41%;
	padding:0 1.6% 0 1.6%; 
}

/******************************		.bibList .listBody .listItemSingleVolume .itemMediabar	******************************/
.bibList .listItemSingleVolume .itemMediabar {
	padding-top:1.25em;
	padding-bottom:0.5em; 
	width:25%;
}
.bibList .listItemSingleVolume .itemMediabarThumb {
	margin-bottom:0.5em;
	margin-left:0.8333em;
}
.bibList .listItemSingleVolume .itemMediabarCategory {
	margin-left:0.8333em;
	width:100%;
}









/*****************************************************************************************************
 ******************************				grid list						******************************
 ******************************		list with different dynamic width		****************************** 
 *****************************************************************************************************/
.gridList {
	border-spacing:0;
}
.gridList th {
	text-align: left;
}
.gridList td {
	vertical-align: top;
}
.gridList .itemHeadline {
	padding: 0.1666em 1.6%;
	background-color:#EBF7EC;
}
/* gridList listHeader */
.gridList .creatorHeadline {
	padding: 0.1666em 1.6%;
}
.gridList .genreHeadline {
	padding: 0.1666em 1.6%;
}
.gridList .dateHeadline {
	padding: 0.1666em 1.6%;
}
.gridList .fileHeadline {
	padding: 0.1666em 1.6%;
}
/* gridList listBody */
.gridList .itemCreatorArea {
	padding: 0.1666em 1.6%;
}
.gridList .itemGenreArea {
	padding: 0.1666em 1.6%;
}
.gridList .itemDateArea {
	padding: 0.1666em 1.6%;
}
.gridList .itemFileArea {
	padding: 0.1666em 1.6%;
}


.gridList .listItem td {
	padding-top:0.5em;
	padding-bottom:0.25em;
	border-top:0.09em solid #ff00ff;
}
.gridList .listItem:hover td {
	background-color:#CCCCCC;
	
}


.gridList .itemTitle {
	max-width:50em;
	width:92%;
	max-width:50em;
	margin-left:0.5em;
}





/*****************************************************************************************************
 ******************************				tiled list						******************************
 ******************************			list with dynamic width				****************************** 
 *****************************************************************************************************/
.tiledList {
	width:100%; 
	padding:0 1.6%;
}
.tiledList .listHeader {
	width:100%;
}
.tiledList .listBody {
	width:100%;
}
.tiledList li.listItem {
	float:left;
	padding:0.5em 1.6% 1em 1.6%;
	width:13.25%; 
	max-width:13.916667em;
}
.tiledList .listItem:hover {
	background-color:#BfBfBf;
}

.tiledList .itemContent {
	width:100%;  
}
.tiledList .itemContent:hover {
	background-color:#DDDDDD;
}
.tiledList .itemIconArea {
	width:100%;  
	margin-bottom:0.25em;
}
.tiledList .itemIconArea img {
	width:100%;
}
.tiledList .itemIconBorder {
	display:block;
	width:94.75%;
	padding:0.3333em 0.3333em 0.25em 0.3333em; 
	background-color:#aaaaaa;
}
.tiledList .itemContentData {
	width:100%;
}
.tiledList .itemControlArea {
	width:100%;
}




/*****************************************************************************************************
 ******************************				tiled list thumb						******************************
 ******************************			list with dynamic width				****************************** 
 *****************************************************************************************************/

.tiledListThumbOverlay {
	width:98%; 
	padding:0 1.6%;
}
.tiledListThumbOverlay.overlay {
	background-color:#ffffff;
	min-width:200%;
}
.tiledListThumbOverlay .listHeader {
	width:100%;
}
.tiledListThumbOverlay .listBody {
	width:100%;
	height:56.75em;
	overflow-y:auto;
}
.tiledListThumbOverlay li.listItem {
	float:left;
	margin:0.5em 1.6% 1em 1.6%;
	width:16.78%; 
	max-width:5.666666667em;
}
.tiledListThumbOverlay .listItem:hover {
	background-color:#BfBfBf;
}
.tiledListThumb .itemContent {
	width:100%;
}
.tiledListThumbOverlay .itemContent:hover .itemIconArea .itemIconBorder {
	background-color:#DDDDDD;
}
.tiledListThumbOverlay .itemIconArea {
	width:100%;
}
.tiledListThumbOverlay .itemIconArea img {
	width:100%;
}
.tiledListThumbOverlay .itemIconBorder {
	display:block;
	width:89%;
/*	padding:0.3333em; */
	padding:5%; 
	background-color:#aaaaaa;
}
.tiledListThumbOverlay .itemContentData {
	width:100%;
}
.tiledListThumbOverlay .itemContentData .itemMetaText {
	font-size:75%;
}
.tiledListThumbOverlay .itemControlArea {
	width:100%;
}




/*****************************************************************************************************
 ******************************				image view single						******************************
 ******************************				view with paginator				****************************** 
 *****************************************************************************************************/
.menuTabHorzOverlay {
	width:100%;
	z-index:50;
	overflow:visible !important;
}
.menuTabHorzOverlay .menuHeader {
	
}
.menuTabHorzOverlay .menuHeader .horizontalTab {
	float:left;
	border-bottom:solid 0.09em #000000;
}
.menuTabHorzOverlay .menuHeader .horizontalTab.active {
	background-color:#000000; 
	color:#FFFFFF;
}
.menuTabHorzOverlay .menuHeader .horizontalTab .menuEntry {
	margin-left:0.5em;
	padding-top:0.5em;
}

.menuTabHorzOverlay .menuBody {
	position:absolute;
	width:100%;
	margin-top:1.25em;
}
.menuTabHorzOverlay .menuBody .menuTabContent .menuTabBg {
	position:absolute; 
	height:100%;
	width:100%; 
	background-color:#CCCCCC;
	opacity:0.3; 
	-moz-opacity:0.3;
	-o-opacity:0.3;
	filter: Alpha(opacity=30);
}

.menuTabHorzOverlay .menuTabContent {
	float:none;
	margin:0 auto;
	display:none;
}
.menuTabHorzOverlay .paginatorWave .pageBrowserMin {
	width:100%;
}

.menuTabHorzOverlay .gotoBox {
	width:100%;
	text-align:center;
	display:none;
	padding-top:0.3333em;
	padding-bottom:0.5em;
}
.menuTabHorzOverlay .gotoBox input[type="number"] {
	max-width:25%;
	text-align:center;
}



.icon_editBtn_16_16 {
	width:1.3333em;
	height:1.3333em;
}
