@charset "UTF-8";

/*****************************************************************************************************************
 * 							declarations for IE7
 */
*:first-child+html input {
	border: solid 0.08333em #B2B2B2;
	padding:0 0.1666em;
}
*:first-child+html input[type="button"] {
	border:none !important;
}
*:first-child+html input[type="submit"] {
	border:none !important;
}
*:first-child+html input[type="radio"] {
	border:none !important;
}
*:first-child+html input[type="checkbox"] {
	border:none !important;
}
*:first-child+html .mpdl_standardHeader .mpdl_id_siteSearchMenu input[type="radio"] {
	margin-top:-0.16666em;
	margin-left:-0.25em;
}
*:first-child+html .mpdl_standardHeader .mpdl_id_siteSearchMenu input[type="checkbox"] {
	margin-top:-0.16666em;
	margin-left:-0.25em;
}
*:first-child+html .mpdl_optionBox .mpdl_optionBoxLabel {
	margin:0 0 1em 0;
}
*:first-child+html .mpdl_optionBox li {
	clear:left;
}
*:first-child+html .mpdl_optionBox li a{
	margin:0 0 0.75% 0;
}


/*main menu */
*:first-child+html .mpdl_menuBox {
	padding-bottom: 2em;
}
*:first-child+html label.mpdl_menuLevel1Menu {
	float:none;
	clear:both;
	display: block;
}
*:first-child+html label.mpdl_menuLevel1Label {
	float:none;
	clear:both;
	display: block;
}
*:first-child+html .mpdl_menuLevel2 {
	float:none;
	clear:both;
	left:0;
	width:95%;
}
*:first-child+html .mpdl_menuLevel3 {
	width:95%;
}
*:first-child+html .mpdl_menuLevel3 li {
	padding:0;
	margin:0;
	height:120%;
	padding-left:0.5em;
}


/*****************************************************************************************************************
 * 							declarations for all other browser
 */

/***              ***
 * font size base = 12px
 * 1em = 12px -> line-height / row-height: 1.66666667em;
 */
body {
	font-size:75%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#555555;
	z-index:0;
}

a {
	color:#000000;
	text-decoration: none;
}
a:hover {
	color:#00AA11;
}
a:mpdl_active {
	color:#00AA11;
}
a[disabled] {
	color:#999999;
}
*[disabled] {
	color:#999999;
}
*[onclick] {
	color:#000000;
	text-decoration: none;
}
*[onclick]:hover {
	color:#00AA11;
}
*[onclick]:mpdl_active {
	color:#00AA11;
}

h1 {
	font-weight:normal;
}
h2 {
	font-weight:normal;
}
h3 {
	font-weight:normal;
}
h4 {
	font-weight:normal;
}
h5 {
	font-weight:normal;
}
h6 {
	font-weight:normal;
}

input[type="search"] {
	border: solid 0.08333em #B2B2B2;
	padding:0 0.1666em;
}
input[type="text"] {
	border: solid 0.08333em #B2B2B2;
	padding:0 0.1666em;
}
input[type="number"] {
	border: solid 0.09em #B2B2B2;	/* because of webkit engine, the border must be up-rounded for 1px */
	padding:0 0.1666em;
}
select {
	padding:0;
	border: solid 0.08333em #B2B2B2;
}
button:disabled {
	color:#AAAAAA;
}
/***              ***
 * global id-class and class declarations
 */
.mpdl_id_wrapper {
	min-width:75em; /* 900px */
	width:96%;		/* the result of width + padding = sum of width = 100% */
	padding:0 2%;
	background-color:#FFFFFF;
}
.mpdl_id_header {
	width:100%;
}
.mpdl_id_headerMetaMenu {
	width:100%;
}
.mpdl_id_mainMenu {
	width:100%;
	overflow: visible !important;
	z-index:12;
}
.mpdl_id_mainMenu * {
	overflow: visible !important;
}
.mpdl_id_optionBox { /* options for the current page mpdl_content, e.mpdl_g. Order by, Filter by, Download, Export, ... */
	width:100%;
	padding:0 0 0 0.83333%;
}
.mpdl_id_optionBox.mpdl_vertikal { /* conditions for vertical option menu */
	padding:0 0 0 0.16666%;
}
.mpdl_id_contentDescription {
	width:100%;
}
.mpdl_id_siteTitle {
	float:right;
	padding:0 1.6%;
	font-size:150%;
	background-color:#EEF2F0;
}
.mpdl_id_sidebarLeft {
	
}
.mpdl_overflow {
	overflow:visible !important;
	z-index:20;
}

.mpdl_separator {
	width:0.08333em;
	height:1.3333em;
	background-color:#7F7F7F;
}


.mpdl_fiveRows {  /* 1row = 0,166666667em */
	height:6em;
}
/* not necessary at the moment
.mpdl_sixRows {
	height:7.08333em;
}
.mpdl_fiftyRows {
	height:58.3333em;
}
*/



/*****************************************************************************************************************
 * 							declarations for components
 */


/*****************************************************************************************************************
 ******************************				dynamic selectbox with JS functions		******************************
 ******************************					with no maximum width				******************************
 *****************************************************************************************************************/
.mpdl_dynamicSelectBox_js {
	height:1.6666em;
	padding:0;
	font-size:95%;
	background-image:url('image/_default_16_16.png'); 
	background-position:right top;
	text-align: left;
}
.mpdl_dynamicSelectBox_js * {
	cursor: pointer;
}
.mpdl_dynamicSelectBox_js *[disabled] {
	cursor: default;
}
.mpdl_dynamicSelectBox_js .mpdl_selectionContent {
	margin-right:1.6666em;
	padding:0 0.6666em 0.16666em 0.6666em;
	font-size: 97%;
	height: 1.16666em;
	border: solid 0.09em #B2B2B2;	/* because of webkit engine, the border must be up-rounded for 1px */
}
.mpdl_dynamicSelectBox_js .mpdl_selectionText {
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-align: left;
}
.mpdl_dynamicSelectBox_js select {
	float:left;
	clear:left;
	margin-top:-1.5em;
	
	/* set the selectbox invisible to show the selectionContent container */
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0); /* for IE 7 & IE 8 necessary */
}






/*********************************************************************************************************************************
 ******************************				.mpdl_standardHeader											******************************
 ******************************		includes solutionLogo, metaMenu, simple Search, mpdl_headerNav		****************************** 
 *********************************************************************************************************************************/
.mpdl_standardHeader {
	width:100%;
}

/*********************************************************************************************************
 ******************************				.mpdl_standardHeader .mpdl_id_headerMetaMenu .mpdl_metaMenu		******************************
 *********************************************************************************************************/
.mpdl_id_headerMetaMenu .mpdl_metaMenu {
	float:right;
}
.mpdl_id_headerMetaMenu .mpdl_metaMenu * {
	float:left;
}
.mpdl_id_headerMetaMenu .mpdl_metaMenu a {
	padding:0.08333em 2em 0.3333em 2em;
}
.mpdl_id_headerMetaMenu .mpdl_metaMenu nav {
	padding:0;
}
.mpdl_id_headerMetaMenu .mpdl_metaMenu select {
	padding:0;
}
.mpdl_id_headerMetaMenu .mpdl_metaMenu option {
	float:none;
}
.mpdl_metaMenu a:hover {
	color:#00AA11;
}
.mpdl_metaMenu .mpdl_separator {
	padding:0;
}
.mpdl_metaMenu .mpdl_userDetail {
	font-style:italic;
	font-size:75%;
	padding: 0.16666em 1.91666em 0.3333em 1.91666em;
}
.mpdl_metaMenu .mpdl_dynamicSelectBox_js {
	padding:0;
	background-position:right top;
}
.mpdl_metaMenu .mpdl_dynamicSelectBox_js * {
	padding:0;
}
.mpdl_metaMenu .mpdl_dynamicSelectBox_js .mpdl_selectionContent {
	padding:0.0833333em 0.6666em 0 0.6666em;
}
/*************************************************************************************************************
 ******************************				.mpdl_standardHeader .mpdl_solutionLogo		******************************
 *************************************************************************************************************/
.mpdl_standardHeader .mpdl_solutionLogo {
	float: left;
	margin-left:1em;
	margin-top: 1em;
	margin-bottom: 2em;
}


/*****************************************************************************************************************
 ******************************				.mpdl_standardHeader .mpdl_id_siteSearchMenu		******************************
 *****************************************************************************************************************/
.mpdl_standardHeader .mpdl_id_siteSearchMenu {
	float: right;
	margin-top:2%;
	text-align:right;
}
.mpdl_id_siteSearchMenu .mpdl_icon_quickSearch_16_16 {
	background-image: url("image/_default_32_32.png");
	width:2.66666em;
	height:2.66666em;
	margin-right: 0.5em;
}
.mpdl_simpleSearch label {
	float: left; 
	margin:0 1.3333em 0 0.5em; 
}
.mpdl_simpleSearch input {
	float: left;
}
.mpdl_simpleSearch input[type="radio"] {
	margin: 0.16666em 0 0 0;
}
.mpdl_simpleSearch input[type="submit"] {
	margin-left:0.75em;
	padding:0 0.25em;
}

/*********************************************************************************************************
 ******************************				.mpdl_standardHeader .mpdl_headerNav		******************************
 *********************************************************************************************************/
.mpdl_standardHeader .mpdl_headerNav {
	float:right;
	margin-top: 2.083333%;
	text-align: right;
}
.mpdl_standardHeader .mpdl_headerNav a.mpdl_navEntry {
	float:none;
	margin-left: 1.3333em;
	word-break: keep-all; /* for chinese, korean, and other asian languages - no line breaking */
	white-space:nowrap;
}


/*************************************************************************************************************
 ******************************				.mpdl_id_mainMenu						******************************
 ******************************		includes mainMenu with 3 level		 		****************************** 
 *************************************************************************************************************/
.mpdl_mainMenu {
	width:100%;
	margin-bottom: 2em;
	padding-left:1.6%;
}
.mpdl_menuBox * {
	cursor:pointer;
}
.mpdl_menuBox *[disabled] {
	cursor:default;
}
.mpdl_menuBox .mpdl_menuLevel1 {
	float:left;
	position: relative;
	text-align: center;
	padding:0 0.5em;
	color:#CCCCCC;
	background-color:#555555;
}
.mpdl_menuLevel1Label {
	color:#00FFFF;
	font-size: 150%;
	color:#00FFFF;
}
.mpdl_menuLevel1Label * {
	color:#00FFFF;
}
.mpdl_menuLevel1Menu {
	background-image: url("image/_default_16_16.png");
	background-position: right;
	padding-right:1.5em;
	font-size: 150%;
}
.mpdl_menuBox .mpdl_menuLevel2 {
	display:none;
	float:left;
	overflow: visible;
	text-align: left;
}
.mpdl_menuBox .mpdl_menuLevel1:hover .mpdl_menuLevel2 {
	display:block;
	position: absolute;
	background-color: #777777;
}
.mpdl_menuLevel2 li {
	background-color: #777777;
}

.mpdl_menuLevel2Label {
	padding-left:0.5em;
	color:#222222;
}
.mpdl_menuBox .mpdl_menuLevel2Entry {
	height:2em; 
	line-height:2em;
	width:100%;
	padding-right:1.5em;
}
.mpdl_menuBox .mpdl_menuLevel2EntryMenu {
	height:2em; 
	line-height:2em;
	width:100%;
	background-image: url("image/_default_16_16.png");
	background-position: right;
	padding-right:1.5em;
}
.mpdl_menuBox .mpdl_menuLevel2Entry:hover {
	background-color: #999999;
}
.mpdl_menuBox .mpdl_menuLevel2EntryMenu:hover {
	background-color: #999999;
}
.mpdl_menuBox .mpdl_menuLevel2Entry:hover .mpdl_menuLevel3 {
	display: block;
	position: absolute;
	top:0;
	left:99.8%;
	height:2em; line-height:2em;
}
.mpdl_menuBox .mpdl_menuLevel2EntryMenu:hover .mpdl_menuLevel3 {
	display: block;
	position: absolute;
	top:0;
	left:99.8%;
	height:2em; line-height:2em;
}

.mpdl_menuBox .mpdl_menuLevel3 {
	float:left;
	display: none;
	color:#000000;
}
.mpdl_menuBox .mpdl_menuLevel3 li {
	background-color: #CCCCCC;
	padding-left:0.5em;
	padding-right:0.5em;
	white-space:nowrap;
}
.mpdl_menuBox .mpdl_menuLevel3 li:hover {
	background-color: #00FFFF;
}



/*************************************************************************************************************************
 ******************************				mpdl_id_optionBox									******************************
 ******************************			includes: options & actions for current context		******************************
 *************************************************************************************************************************/
.mpdl_id_optionBox.mpdl_vertikal .mpdl_optionBox { /* conditions for mpdl_optionBox in vertical option menu */
	clear:both;
	float:none;
	margin-top:1em;
}
.mpdl_id_optionBox.mpdl_vertikal .mpdl_optionBox+.mpdl_optionBox { /* conditions for mpdl_optionBox in vertical option menu */
	clear:both;
	float:none;
	margin-left:0;
}
.mpdl_id_optionBox.mpdl_vertikal menu menu { /* conditions for sub-menu in vertical option menu */
	padding:0 0 0 0.16666%;
}
.mpdl_optionBox {
	padding:0;
	margin:0 0 1.5em 1.6%;
}
.mpdl_optionBox .mpdl_optionBoxLabel {
	display: block;
	margin-bottom:1em;
	padding:0 1.3333em;
}
.mpdl_optionBox menu menu {
	padding:0 1.3333em;
}
.mpdl_optionBox:first-child {
	display:block;
	margin-left:0%;
}
.mpdl_optionBox label {
	display:block;
}

.mpdl_optionBox li a {
	float:left;
	clear:left;
	display:block;
	margin-bottom:0.5em;
}
.mpdl_optionBox a+a {
	clear:none;
	margin-left:1.3333em;
}
.mpdl_optionBox .mpdl_dynamicSelectBox_js {
	display:block;
	float:none;
	margin-bottom:1em;
}
.mpdl_optionBox select option[selected] {
	color:#00AA11;
}
.mpdl_optionBox .mpdl_active {
	color:#00AA11;
}



/*************************************************************************************************************
 ******************************				MessageArea							******************************
 ******************************			for: error, warning, success, info		******************************
 *************************************************************************************************************/
.mpdl_messageArea {
	width:46.7%;
	padding:1% 1.6%;
}
.mpdl_messageArea span {
	display:block;
}
.mpdl_messageError {
	color:#FF0000;
}
.mpdl_messageWarning {
	color:#FF6666;
}
.mpdl_messageSuccess {
	color:#00AA11;
}
.mpdl_messageInfo {
	color:#555555;
	font-style:italic;
}
/*************************************************************************************************************
 ******************************				mpdl_breadcrump & siteTitle				******************************
 ******************************													******************************
 *************************************************************************************************************/
.mpdl_breadTitle {
    /* (class which includes the mpdl_breadcrump and siteTitle) */
    width:46.7%;
    padding:0.9% 1.6% 1% 1.6%;
    text-align:right;
}
.mpdl_breadcrump {
	line-height:150%;
}


/*****************************************************************************************************************************
 ******************************				PAGINATOR											******************************
 ******************************		includes mpdl_paginatorWave										****************************** 
 *****************************************************************************************************************************/
.mpdl_paginatorWave {
	width: 100%;
	margin:0 0 0.2% 0;
}
.mpdl_paginatorWave * {
	text-align: center;
}
.mpdl_paginatorWave .mpdl_iconActionLabel {
	margin-left:0.5em;
	margin-right:0.5em;
	cursor: pointer;
}
.mpdl_paginatorWave .mpdl_rangeSelector {
	width:14.38%;
	padding:0.75em 0 0 1.6%;
}
.mpdl_paginatorWave .mpdl_rangeSelector .mpdl_dynamicSelectBox_js {
	margin:0.08333em 0 0;
}
.mpdl_paginatorWave .mpdl_rangeSelector .mpdl_selectionText {
	float:left;
}
.mpdl_paginatorWave .mpdl_rangeSelector .mpdl_selectLabel {
	float:left;
	margin-top:0.25em;
	margin-left:0.91666em;
}
.mpdl_paginatorWave .mpdl_rangeSelector select {
	width:3.5em;
}
.mpdl_paginatorWave .mpdl_pageBrowser {
	width:66.6%
}
.mpdl_paginatorWave .mpdl_pageBrowser * {
	cursor: pointer;
}
.mpdl_paginatorWave .mpdl_pageBrowser *:disabled {
	cursor: default;
}
.mpdl_paginatorWave .mpdl_icon_skipTofirst_16_16 {
	background-image: url("image/_default_16_16.png");
	background-position: right;
	text-align:left;
	padding:0.0833em 1.3333em 0.0833em 0;
	margin-right:0.166667em;
}
.mpdl_icon_skipTofirst_16_16:hover .mpdl_iconActionLabel {
	color:#00AA11;
}
.mpdl_paginatorWave .mpdl_icon_backward_16_16 {
	background-image: url("image/_default_16_16.png");
	background-position: right;
	padding:0.0833em 1.3333em 0.0833em 0;
	margin-right:0.166667em;
}
.mpdl_paginatorWave .mpdl_icon_forward_16_16 {
	background-image: url("image/_default_16_16.png");
	padding:0.0833em 0 0.0833em 1.3333em;
	margin-left:0.166667em;
}
.mpdl_paginatorWave .mpdl_icon_skipTolast_16_16 {
	background-image: url("image/_default_16_16.png");
	text-align:left;
	padding:0.0833em 0 0.0833em 1.3333em;
	margin-left:0.166667em;
}
.mpdl_icon_skipTolast_16_16:hover .mpdl_iconActionLabel {
	color:#00AA11;
}
.mpdl_paginatorWave .mpdl_pageNumber {
	margin:0 0.1666667em;
}
.mpdl_paginatorWave .mpdl_pageNumber.mpdl_active {
	font-size: 200%;
}
.mpdl_paginatorWave .mpdl_pageNumber.mpdl_prev {
	font-size: 150%;
}
.mpdl_paginatorWave .mpdl_pageNumber.mpdl_next {
	font-size: 150%;
}
.mpdl_paginatorWave .mpdl_pageNumber.mpdl_neighbour {
	font-size: 125%;
}
.mpdl_paginatorWave .mpdl_gotoBox {
	width:16.6%;
	padding:0.83333em 0 0 0;
}
.mpdl_paginatorWave .mpdl_gotoInput {
	width:23%;
	padding:0 0.2%;
}
.mpdl_paginatorWave .mpdl_inputLabel {
	margin-left:0.16666em;
}


/* for smallest pageBrowser */
.mpdl_paginatorWave .mpdl_pageBrowserMin {
	width:66.6%;
}
.mpdl_paginatorWave .mpdl_pageBrowserMin * {
	cursor: pointer;
}
.mpdl_paginatorWave .mpdl_pageBrowserMin *:disabled {
	cursor: default;
}
.mpdl_pageBrowserMin .mpdl_icon_backward_16_16 {
	margin-right:1em;
}
.mpdl_pageBrowserMin .mpdl_icon_forward_16_16 {
	margin-left:1em;
}

/*****************************************************************************************************
 ******************************				bibliographic list			******************************
 ******************************		list with different 		****************************** 
 *****************************************************************************************************/
.mpdl_bibList {
	width:99.8%;
/*	background-color:#EEF2F0; */
/*	background-color:#33F2F0; */
	border:solid 0.09em #B2B2B2; /* because of webkit-engine, the border-value must be up-rounded */
}
.mpdl_bibList .mpdl_iconActionLabel {
	margin-left:0.8333em;
	margin-right:0.8333em;
	cursor: pointer;
}

.mpdl_bibList .mpdl_icon_collapse_16_16 {
	height:1.3333em;
	padding-top:0.2%;
	padding-left:1.3333em;
	background-image: url("image/_default_16_16.png");
	cursor: pointer;
}
.mpdl_bibList .mpdl_icon_collapse_16_16:hover {
	background-image: url("image/_default_32_32.png");
}
.mpdl_bibList .mpdl_icon_collapse_16_16:hover .mpdl_iconActionLabel {
	color:#00AA11;
}

.mpdl_bibList .mpdl_icon_expand_16_16 {
	height:1.3333em;
	padding-top:0.2%;
	padding-left:1.3333em;
	background-image: url("image/_default_16_16.png");
	cursor: pointer;
}
.mpdl_bibList .mpdl_icon_expand_16_16:hover {
	background-image: url("image/_default_32_32.png");
}
.mpdl_bibList .mpdl_icon_expand_16_16:hover .mpdl_iconActionLabel {
	color:#00AA11;
}

.mpdl_bibList .mpdl_icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
/*****************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listHeader		******************************
 *****************************************************************************************************/
.mpdl_bibList .mpdl_listHeader {
	width:100%;
/*	border: solid 0.08333em #B2B2B2; */
	height:2.08333em;
}
.mpdl_bibList .mpdl_listHeader .mpdl_selectArea {
	width:22.95%;
	padding:0.3% 1% 0 1%;
	height:100%;
}
.mpdl_bibList .mpdl_listHeader .mpdl_content {
	width:47.47%;
	padding:0.3% 1.2% 0 1.2%;
	height:100%;
}
.mpdl_bibList .mpdl_listHeader .mpdl_showHideAll_js {
	cursor:pointer;
}

.mpdl_bibList .mpdl_listHeader .mpdl_mediabarActionArea {
/*	width:23.95%; */
	width:25%;
	padding-left:0.1%;
	padding-top:0.3%;
/*	padding:0.3% 0.58333% 0 0.58333%; */
	background-color:#EEEEEE;
	height:100%;
}
.mpdl_bibList .mpdl_listHeader .mpdl_toggleListItemVolume_js {
	cursor:pointer;
	margin-left:0.8333em;
}
/*********************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody				******************************
 ******************************			global definitions for mpdl_bibList		******************************
 *********************************************************************************************************/
.mpdl_bibList .mpdl_listBody {
	width:100%;
}
.mpdl_bibList .mpdl_itemHeadline .mpdl_itemTitle {
	max-width: 50em;
	font-size:133%;
	line-height: 125%;
}
.mpdl_bibList .mpdl_itemHeadline .mpdl_itemMultiTitle {
	max-width: 50em;
	font-size: 166%;
	line-height: 125%;
}
.mpdl_bibList .mpdl_shortView_js {
	width:100%;
	margin-top:0.41666em;
}
.mpdl_bibList .mpdl_mediumView_js {
	width:100%;
	display:none;
	margin-top:0.41666em;
}

.mpdl_bibList .mpdl_itemMediabar .mpdl_itemMediabarCategory {
	padding-left:1.8333em;
	background-image: url("image/_default_16_16.png");
	margin-bottom:0.25em;
}
/*****************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItem			******************************
 *****************************************************************************************************************/
.mpdl_bibList .mpdl_listItem {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
}
.mpdl_bibList .mpdl_listItem:hover .mpdl_itemContent {
	background-color:#EEF2F0;
}

.mpdl_bibList .mpdl_listItem .mpdl_itemContent {
	width:100%;
	padding-bottom:0.5em;
	background-color:#FFFFFF;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemSelectArea {
	width:22.58%;
	text-align:right;
	padding:1% 1.2% 0 1.2%;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemHeadline {
	width:72.4%;
	padding:0.1666em 1.2% 0.1666em 1.2%; 
}
.mpdl_bibList .mpdl_listItem .mpdl_itemStatusArea {
	width:22.88%;
	text-align:right;
	padding:0 1% 0 1%;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemStatusArea * {
	float: right;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemStatusArea .mpdl_itemStatusTitle {
	margin-top:2.5%;
	margin-right:5%;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemContentOptions {
	width:72.4%;
	padding:0 1.3%;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemDetailAction_js {
	margin-top:0.75%; 
}
.mpdl_bibList .mpdl_listItem .mpdl_itemMetaLabel {
	width:22.8%;
	text-align:right;
	padding:0 1% 0 1%;
}
.mpdl_bibList .mpdl_listItem .mpdl_itemMetaValue {
	width:72.4%;
	padding:0 1.3% 0 1.3%; 
}

/*************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemMediaAcc			******************************
 *************************************************************************************************************************/
.mpdl_bibList .mpdl_listItemMediaAcc {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemMediaAcc:hover {
	background-color:#EEEEEE;
}
.mpdl_bibList .mpdl_listItemMediaAcc:hover .mpdl_itemContentBg {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemMediaAcc:hover * .mpdl_itemMediabar_js {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemContent {
	width:74.88%;
	padding-bottom:0.5em;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemContentBg {
	position:absolute;
	width:74.88%;
	height:100%;
	background-color:#FFFFFF;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemSelectArea {
	width:30.08%;
	text-align:right;
	padding:1% 1.6% 0 1.6%;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemHeadline {
	width:63.41%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemStatusArea {
	width:30.08%;
	text-align:right;
	padding:0 1.6%;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemStatusArea * {
	float: right;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemStatusArea .mpdl_icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemStatusArea .mpdl_itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemContentOptions {
	width:63.41%;
	padding:0 1.6%;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemDetailAction_js {
	margin-top:1.25%; 
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemMetaLabel {
	width:30.08%;
	text-align:right;
	padding:0 1.6%;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemMetaValue {
	width:63.41%;
	padding:0 1.6% 0 1.6%; 
}

/*****************************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemMediaAcc .mpdl_itemMediabar_js			******************************
 *****************************************************************************************************************************************/
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemMediabar_js {
	width:25%;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemMediabar_js div {
	width:100%;
	padding-left:2.66666em;
	padding-bottom:0.08333em;
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemMediabar_js span.mpdl_ui-accordion-header  {
	float:left;
	width:100%;
	margin-left:0.1%;
	padding-left:0.8333em;
	padding-top:0.1666em;
	padding-bottom: 0.16666em;
	cursor:pointer;
	background-color:#B8B8B8;
/* start css3 enhancements */
	/* Background-Gradient */
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffff',EndColorStr='#aaddff'); 
	background:
		linear-gradient(top, #fff, #B8B8B8);
	background: 
		-ms-linear-gradient(top, #fff, #B8B8B8);
	background:
		-moz-linear-gradient(left, #EEF2F0, #CCCCCC);
	background:
		-webkit-gradient(linear, left top, left bottom, from(#fff), to(#adf)); 
	background:
		-webkit-linear-gradient(top, #fff, #B8B8B8);
	background:
		-o-linear-gradient(top, #fff, #B8B8B8);
/* stop css3 enhancements */
}
.mpdl_bibList .mpdl_listItemMediaAcc .mpdl_itemMediabar_js span.mpdl_ui-icon {
	float: left;
	background: url("image/_default_16_16.png") no-repeat 0 0.1666em;
	background-position:left top;
	display: block;
    width: 1.25em;
    height: 1.25em;
    margin-right:0.8333em;
}




/*********************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemMultiVolume	COLORIZING		******************************
 ******************************					multiVolumeBG == multi volume background			******************************
 *********************************************************************************************************************************/
.mpdl_multiVolumeBG_1 {
	background-color:#00AA11;
}
/* .mpdl_multiVolumeBG_1:hover {
	background-color:#006FF0;
} */
.mpdl_multiVolumeBG_2 {
	background-color:#CCAA11;
}
/* .mpdl_multiVolumeBG_2:hover {
	background-color:#CC6FF0;
}*/ 
.mpdl_multiVolumeBG_3 {
	background-color:#99FF99;
}
.mpdl_multiVolumeBG_4 {
	background-color:#DD003C;
}









/*************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemMultiVolume			******************************
 *************************************************************************************************************************/
.mpdl_bibList .mpdl_listItemMultiVolume {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
}
.mpdl_bibList .mpdl_listItemMultiVolume:hover .mpdl_itemContent {
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemMultiVolume:hover .mpdl_itemContentBg {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemMultiVolume:hover .mpdl_itemMediabar {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemContent {
	width:99%;
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemContentBg {
	position:absolute;
	width:75.5%;
	height:100%;
	background-color:#FFFFFF;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemContentData {
	width:75.5%;
	padding-top:0.75em;
	padding-bottom:0.5em;
}

.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemStatusArea {
	width:31%;
	text-align:right;
	padding:0.5em 1.2% 0 1.2%;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemStatusArea * {
	float: right;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemStatusArea .mpdl_icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemStatusArea .mpdl_itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemHeadline {
	width:63.1%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemMetaLabel {
	width:31%;
	text-align:right;
	padding:0 1.2%;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemMetaValue {
	width:63.1%;
	padding:0 1.6% 0.1666em 1.6%; 
}

/*****************************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemMultiVolume .mpdl_itemMediabar			******************************
 *****************************************************************************************************************************************/
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemMediabar {
	padding-top:0.75em;
	padding-left:0.8333em;
	width:22%;
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemMediabar div {
	width:100%;
	padding-bottom:0.08333em;
}
.mpdl_bibList .mpdl_listItemMultiVolume .mpdl_itemMediabar .mpdl_itemContentOptions {
	margin-bottom:1em;
}



/*************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemVolume			******************************
 *************************************************************************************************************************/
.mpdl_bibList .mpdl_listItemVolume {
	width:100%;
	padding-top:0.3333em;
	padding-bottom:0.16666em;
	display:none;
}

.mpdl_bibList .mpdl_listItemVolume+.mpdl_listItemVolume {
	padding-top:0.16666em;
}
.mpdl_bibList .mpdl_listItemVolume:hover .mpdl_itemContent {
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemVolume:hover .mpdl_itemContentData {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemVolume:hover .mpdl_itemMediabar {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemContent {
	width:99%;
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemContentBg {
	position:absolute; 
	width:75.5%;
	height:100%; 
	background-color:#FFFFFF;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemContentData {
	width:75.5%;
	padding-top:0.75em;
	padding-bottom:0.5em;
	background-color:#FFFFFF;
}

.mpdl_bibList .mpdl_listItemVolume .mpdl_itemStatusArea {
	width:31%;
	text-align:right;
	padding:0.5em 1.2% 0 1.2%;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemStatusArea * {
	float: right;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemStatusArea .mpdl_icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemStatusArea .mpdl_itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemHeadline {
	width:63.1%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemMetaLabel {
	width:31%;
	text-align:right;
	padding:0 1.2%;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemMetaValue {
	width:63.1%;
	padding:0 1.6% 0.1666em 1.6%; 
}

/******************************		.mpdl_bibList .mpdl_listBody .mpdl_listItemVolume .mpdl_itemMediabar	******************************/
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemMediabar {
	padding-top:1.25em;
	padding-bottom:0.5em; 
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemMediabarThumb {
	margin-bottom:0.5em;
	margin-left:0.8333em;
}
.mpdl_bibList .mpdl_listItemVolume .mpdl_itemMediabarCategory {
	margin-left:0.8333em;
	width:100%;
}


/*****************************************************************************************************************************
 ******************************				.mpdl_bibList .mpdl_listBody .mpdl_listItemSingleVolume			******************************
 *****************************************************************************************************************************/
.mpdl_bibList .mpdl_listItemSingleVolume {
	width:100%;
	border-top:0.08333em solid #7F7F7F;
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemSingleVolume:hover {
	background-color:#EEF2F0;
}
.mpdl_bibList .mpdl_listItemSingleVolume:hover .mpdl_itemContent {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemSingleVolume:hover .mpdl_itemMediabar {
	background-color:transparent;
}
.mpdl_bibList .mpdl_listItemSingleVolume:hover .mpdl_itemContentBg {
	background-color:transparent;
}

.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemContent {
	padding-top:0.75em;
	padding-bottom:0.5em;
	width:74.82%;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemContentBg {
	position:absolute; 
	height:100%; 
	width:74.82%;
	background-color:#FFFFFF;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemHeadline {
	width:63.41%;
	padding:0.1666em 1.6% 0.1666em 1.6%; 
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemStatusArea {
	width:30.08%;
	text-align:right;
	padding:0.5em 1.6% 0 1.6%;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemStatusArea * {
	float: right;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemStatusArea .mpdl_icon_withdrawn_32_32 {
	width:2.6666em;
	height:2.6666em;
	background-image: url("image/_default_32_32.png");
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemStatusArea .mpdl_itemStatusTitle {
	margin-top:2.75%;
	margin-right:5%;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemMetaLabel {
	width:30.08%;
	text-align:right;
	padding:0 1.6%;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemMetaValue {
	width:63.41%;
	padding:0 1.6% 0 1.6%; 
}

/******************************		.mpdl_bibList .mpdl_listBody .mpdl_listItemSingleVolume .mpdl_itemMediabar	******************************/
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemMediabar {
	padding-top:1.25em;
	padding-bottom:0.5em; 
	width:25%;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemMediabarThumb {
	margin-bottom:0.5em;
	margin-left:0.8333em;
}
.mpdl_bibList .mpdl_listItemSingleVolume .mpdl_itemMediabarCategory {
	margin-left:0.8333em;
	width:100%;
}









/*****************************************************************************************************
 ******************************				grid list						******************************
 ******************************		list with different dynamic width		****************************** 
 *****************************************************************************************************/
.mpdl_gridList {
	border-spacing:0;
}
.mpdl_gridList th {
	text-align: left;
}
.mpdl_gridList td {
	vertical-align: top;
}
.mpdl_gridList .mpdl_itemHeadline {
	padding: 0.1666em 1.6%;
	background-color:#EBF7EC;
}
/* mpdl_gridList mpdl_listHeader */
.mpdl_gridList .mpdl_creatorHeadline {
	padding: 0.1666em 1.6%;
}
.mpdl_gridList .mpdl_genreHeadline {
	padding: 0.1666em 1.6%;
}
.mpdl_gridList .mpdl_dateHeadline {
	padding: 0.1666em 1.6%;
}
.mpdl_gridList .mpdl_fileHeadline {
	padding: 0.1666em 1.6%;
}
/* mpdl_gridList mpdl_listBody */
.mpdl_gridList .mpdl_itemCreatorArea {
	padding: 0.1666em 1.6%;
}
.mpdl_gridList .mpdl_itemGenreArea {
	padding: 0.1666em 1.6%;
}
.mpdl_gridList .mpdl_itemDateArea {
	padding: 0.1666em 1.6%;
}
.mpdl_gridList .mpdl_itemFileArea {
	padding: 0.1666em 1.6%;
}


.mpdl_gridList .mpdl_listItem td {
	padding-top:0.5em;
	padding-bottom:0.25em;
	border-top:0.09em solid #ff00ff;
}
.mpdl_gridList .mpdl_listItem:hover td {
	background-color:#CCCCCC;
	
}


.mpdl_gridList .mpdl_itemTitle {
	max-width:50em;
	width:92%;
	max-width:50em;
	margin-left:0.5em;
}





/*****************************************************************************************************
 ******************************				tiled list						******************************
 ******************************			list with dynamic width				****************************** 
 *****************************************************************************************************/
.mpdl_tiledList {
	width:100%; 
	padding:0 1.6%;
}
.mpdl_tiledList .mpdl_listHeader {
	width:100%;
}
.mpdl_tiledList .mpdl_listBody {
	width:100%;
}
.mpdl_tiledList li.mpdl_listItem {
	float:left;
	padding:0.5em 1.6% 1em 1.6%;
	width:13.25%; 
	max-width:13.916667em;
}
.mpdl_tiledList .mpdl_listItem:hover {
	background-color:#BfBfBf;
}

.mpdl_tiledList .mpdl_itemContent {
	width:100%;  
}
.mpdl_tiledList .mpdl_itemContent:hover {
	background-color:#DDDDDD;
}
.mpdl_tiledList .mpdl_itemIconArea {
	width:100%;  
	margin-bottom:0.25em;
}
.mpdl_tiledList .mpdl_itemIconArea img {
	width:100%;
}
.mpdl_tiledList .mpdl_itemIconBorder {
	display:block;
	width:94.75%;
	padding:0.3333em 0.3333em 0.25em 0.3333em; 
	background-color:#aaaaaa;
}
.mpdl_tiledList .mpdl_itemContentData {
	width:100%;
}
.mpdl_tiledList .mpdl_itemControlArea {
	width:100%;
}




/*****************************************************************************************************
 ******************************				tiled list thumb						******************************
 ******************************			list with dynamic width				****************************** 
 *****************************************************************************************************/

.mpdl_tiledListThumbOverlay {
	width:98%; 
	padding:0 1.6%;
}
.mpdl_tiledListThumbOverlay.mpdl_overlay {
	background-color:#ffffff;
	min-width:200%;
}
.mpdl_tiledListThumbOverlay .mpdl_listHeader {
	width:100%;
}
.mpdl_tiledListThumbOverlay .mpdl_listBody {
	width:100%;
	height:56.75em;
	overflow-y:auto;
}
.mpdl_tiledListThumbOverlay li.mpdl_listItem {
	float:left;
	margin:0.5em 1.6% 1em 1.6%;
	width:16.78%; 
	max-width:5.666666667em;
}
.mpdl_tiledListThumbOverlay .mpdl_listItem:hover {
	background-color:#BfBfBf;
}
.mpdl_tiledListThumb .mpdl_itemContent {
	width:100%;
}
.mpdl_tiledListThumbOverlay .mpdl_itemContent:hover .mpdl_itemIconArea .mpdl_itemIconBorder {
	background-color:#DDDDDD;
}
.mpdl_tiledListThumbOverlay .mpdl_itemIconArea {
	width:100%;
}
.mpdl_tiledListThumbOverlay .mpdl_itemIconArea img {
	width:100%;
}
.mpdl_tiledListThumbOverlay .mpdl_itemIconBorder {
	display:block;
	width:89%;
/*	padding:0.3333em; */
	padding:5%; 
	background-color:#aaaaaa;
}
.mpdl_tiledListThumbOverlay .mpdl_itemContentData {
	width:100%;
}
.mpdl_tiledListThumbOverlay .mpdl_itemContentData .mpdl_itemMetaText {
	font-size:75%;
}
.mpdl_tiledListThumbOverlay .mpdl_itemControlArea {
	width:100%;
}




/*************************************************************************************************************
 ******************************				image view single / recto verso		******************************
 ******************************				view with paginator					****************************** 
 *************************************************************************************************************/
.mpdl_menuTabHorzOverlay {
	width:100%;
	z-index:50;
	overflow:visible !important;
}
.mpdl_menuTabHorzOverlay .mpdl_menuHeader {
	
}
.mpdl_menuTabHorzOverlay .mpdl_menuHeader .mpdl_horizontalTab {
	float:left;
	border-bottom:solid 0.09em #000000;
}
.mpdl_menuTabHorzOverlay .mpdl_menuHeader .mpdl_horizontalTab.mpdl_active {
	background-color:#000000; 
	color:#FFFFFF;
}
.mpdl_menuTabHorzOverlay .mpdl_menuHeader .mpdl_horizontalTab .mpdl_menuEntry {
	margin-left:0.5em;
	padding-top:0.5em;
}

.mpdl_menuTabHorzOverlay .mpdl_menuBody {
	position:absolute;
	width:100%;
	margin-top:1.25em;
}
.mpdl_menuTabHorzOverlay .mpdl_menuBody .mpdl_menuTabContent .mpdl_menuTabBg {
	position:absolute; 
	min-height:100%;
	width:100%; 
	background-color:#CCCCCC;
	opacity:1; 
	-moz-opacity:1;
	-o-opacity:1;
	filter: Alpha(opacity=100);
}
.mpdl_menuTabHorzOverlay .mpdl_menuBody .mpdl_pageNumber.mpdl_active {
	margin:0;
}
.mpdl_menuTabHorzOverlay .mpdl_menuTabContent {
	float:none;
	margin:0 auto;
	display:none;
}
.mpdl_menuTabHorzOverlay .mpdl_menuBody .mpdl_menuTabContent.mpdl_active {
	display:block;
}
.mpdl_menuTabHorzOverlay .mpdl_paginatorWave .mpdl_pageBrowserMin {
	width:100%;
}

.mpdl_menuTabHorzOverlay .mpdl_gotoBox {
	width:100%;
	text-align:center;
	display:none;
	padding-top:0.3333em;
	padding-bottom:0.5em;
}
.mpdl_menuTabHorzOverlay .mpdl_gotoBox input[type="number"] {
	max-width:25%;
	text-align:center;
}


/*****************************************************************************************************
 ******************************				global button elements			**************************
 *****************************************************************************************************/
.mpdl_icon_editBtn_16_16 {
	width:1.3333em;
	height:1.3333em;
	margin-left:0.33333em;
	background-image:url(image/edit.gif);
	background-color:transparent;
}


/*****************************************************************************************************
 ******************************				image background color			**************************
 *****************************************************************************************************/
.mpdl_image_bgColor_1 {
	background-color:#000000;
}


.digilib img {
	cursor:pointer;
}