<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>irmo.de</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
	<!-- remove header div to delete this block-->
	<div id="header"> </div>
	<div id="divall">
        <div id="sider_a">
        
            <div id="userpage-layout" class="background_2">
				<div id="userpage-layout-about-header" class="" style="height: auto; visibility: visible;" >
                    <div id="name_custom_font" align="left">
                        <h1  id="userpage-layout-about-name" class="color_6" style="font-family: Brevia-Regular; font-weight: normal; font-style: normal; visibility: visible; font-size: 100px; cursor: pointer;">Irmo Ebel</h1>
                    </div>
				</div>
			</div>

            <div id="menu">
            	<table>	
                	<thead>:TODO</thead>	
                    <tr>
                        <td>About</td>
                        <td>-></td>
                    </tr>
                    <tr>
                        <td>Project</td>
                        <td>-></td>
                    </tr>
                    <tr>
                        <td>Hobby</td>
                        <td>-></td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td>-></td>
                    </tr>
            	</table>
            	<p>&nbsp;</p>
            </div>

        </div>
        <div id="main">main</div>
        <div id="sider_b">sider_b</div>
	</div>
    <!-- remove header div to delete this block-->
	<div id="footer">you can add footer here, if needed</div>
</body>

</html>
